body {
  background-color: #009999;
  color: #FFFFC2;
}

a {
  color: #FFFFC2;
}

p, h3 {
  color: grey;
}

.navbar {
  background-color: #004C4C;
  border: none;
  border-radius: 0px;
}

.title {
  margin-top: 20px;
  margin-bottom: 40px;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 400px;
}

.img_crop {
  border-radius: 10px;
  height: 300px;
  overflow: hidden;
}

#hidden {
  display: none;
}

#snow_pic {
  width: 100%;
  top: -180px;
  position: relative;
  opacity: .7;
  z-index: -1;
}

#school_left, #school_right {
  background-color: white;
  border-radius: 10px;
  opacity: .4;
}

.contact_icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  position: relative;
}
