body {
  background-color: #FFFFF0;
  color: #009999;
}

a, p, h3 {
  color: #009999;
}

.navbar {
  background-color: #FFFFF0;
  border: none;
  border-radius: 0px;
  margin-bottom: 0;
  text-align: center;
}

.btn-nav {
  margin-top: 13px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: 009999;
  color: #FFFFF0;
}

.jumbotron {
  width: 100%;
  text-align: center;
  background-image: url('img/snowboard_vista.jpg');
  background-position: 0;
  background-size: 100%;
  min-height: 250px;
}

.title {
  margin-top: 20px;
  margin-bottom: 40px;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
  /*min-height: 200px;*/
}

.img_crop {
  border-radius: 10px;
  height: 300px;
  overflow: hidden;
}

#hidden {
  display: none;
}

#snow_pic {
  width: 100%;
  top: -180px;
  position: relative;
  opacity: 1;
  z-index: -1;
}

#epicodus_logo {
  max-width: 130px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contact_icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  position: relative;
}
