body {
  background: url("/img/dark_pixels.png");
  color: #F0EDCE;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

a {
  /*color: #FF722B; //orange*/
  color: #ACE1F2; //light blue
}

.navbar {
  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: 0px;
  text-align: center;
  /*position: relative;*/
  /*top: 250px;*/
}

.navbar > h3 {
  display: inline;
}

/*.btn-nav {
  margin-top: 13px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #009999;
  color: #FFFFF0;
}*/

.jumbotron {
  width: 100%;
  text-align: center;
  background-image: url('../img/snowboard_vista.jpg');
  background-position: 0 -300;
  background-size: 100%;
  min-height: 250px;
}

#jumbo-text {
  color: rgba(255,255,255,0.6);
  font-weight: 100;
  position: absolute;
  top: 150px;
  left: 10%;
}

.row {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.bio, .education, .work {
  background-color: rgba(0,179,179,0.5); //lighter teal
}

.contact {
  text-align: center;
  margin: 5px;
}

.box_head {
  padding-left: 15px;
  padding-right: 15px;
}

#hidden {
  display: none;
}

.circle_pic {
  border-radius: 100%;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#epicodus_logo {
  background-color: rgba(190,255,255,0.5);
  padding: 5px;
  border-radius: 5px;
  max-width: 130px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contact-icon {
  height: 12px;
  vertical-align: -1px;
}

.form-inline {
  display: inline;
}

.btn {
  margin-left: 20px;
  margin-right: 20px;
  color: #009999;
}
