<div class="row bio">
  <div class="col-sm-8">
    <h3>Who I am</h3>
    <p>
      Born and raised on Kauai, HI. I am Kyle Kaimana Bulloch. I have always been
      fascinated by how things work. From the smallest details of physics and
      chemistry to the big questions about the structure of the universe and the
      nature of consciousness, it can all be reduced to a set of logical rules.
      Writing code tickles my brain in just the right way, because it is deriving
      pure logic from a problem. I love creating something out of nothing, adding
      to the entropy of the universe. I love how writing code allows you to do
      just about anything you can imagine, building a world of self-reliant rules
      that the programmer defines. The possibilities are endless and I want to
      explore those unknown spaces. I am an aspiring Full Stack Web Developer
      recently graduated from Epicodus.
    </p>
    <p>
      I just finished a two month internship at
      <a href="http://copio.us">Copious</a> where I helped
      develop a suite of automated tests for a large ecommerce site. I learned a
      lot about the backend of the Magento ecommerce CMS. I wrote backend
      functional tests with PHPSpec and front end web tests with Behat for a few
      dozen different use cases.
    </p>
  </div>
  <div class="col-sm-4">
    <img src="img/kyle_and_goose.jpg" alt="kyle_and_goose" class="circle_pic"/>
  </div>
</div>
