<div class="row bio">
  <div class="col-sm-8">
    <h3>Who I am</h3>
    <p>
      Born and raised on Kauai, HI.  I am Kyle Kaimana Bulloch.  I love
      all things tech, futurism, math, physics, engineering, chemistry,
      and logic.  Writing code tickles my brain in just the right way.
      I am an aspiring Full Stack Web Developer currently studying at Epicodus.
    </p>
  </div>
  <div class="col-sm-4">
    <img src="img/kyle_and_goose.jpg" alt="kyle_and_goose" class="circle_pic"/>
  </div>
</div>
