<div class="row contact">
  <p>
    <img src="img/Twitter_logo_white.png" alt="twitter_bird" class="contact-icon">
    <a href="https://twitter.com/KyleKBulloch">@KyleKBulloch</a>
  </p>
  <p>
    <img src="img/icon-chain.png" alt="chain_link" class="contact-icon">
    <a href="http://linkedin.com/in/kylekbulloch">linkedin.com/in/KyleKBulloch</a>
  </p>
  <p>
    <img src="img/email-icon.png" alt="email_icon" class="contact-icon">
    <a href="mailto:kylekbulloch@gmail.com">KyleKBulloch@gmail</a>
  </p>
</div>
