<div class="row education">
  <div class="col-sm-6" id="school_left">
    <img id="epicodus_logo" src="img/epicodus_logo.png" alt="epicodus_logo" />
    <p>
      I am currently studying web development full time at
      <a href="https://www.epicodus.com/">Epicodus</a>, a code bootcamp
      in Portland, OR.  We are pair programming all day, every day at Epicodus.
      Pairing strengthens and challenges your knowledge base, and also
      fosters great communication skills.
    </p>
  </div>
  <div class="col-sm-6" id="school_right">
    <h3>Technologies Learned</h3>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>PHP</li>
        <li>PostgreSQL</li>
        <li>Javascript</li>
        <li>jQuery</li>
        <li>AngularJS</li>
        <li>Drupal</li>
    </ul>
  </div>
</div>
