<div class="row work">
  <div class="box_head">
    <h3>Work Samples</h3>
    <p>
      Here are a few web apps developed while learning at Epicodus.
    </p>
  </div>

  <div class="col-sm-6">
    <p>
      <h4><a href="/tamagotchi/tamagotchi.html">Tamagotchi</a></h4>
      A web game developed as an exercise in Javascript objects using jQuery.
      <a href="https://github.com/kbulloch/tamagotchi_js">Github</a>
    </p>

    <p>
      <h4><a href="/TriangleQualifier/triangler.html">Triangle Qualifier</a></h4>
      Web app that takes three side lengths and returns the type of triangle formed.
      An exercise in Javascript objects and jQuery.
      <a href="https://github.com/kbulloch/TriangleQualifier">Github</a>
    </p>
  </div>
  <div class="col-sm-6">
    <!-- <p>
      <h4><a href="/pizzaria/pizza.html">Pizzaria</a></h4>
      Web app mimicking a pizza restaurant.  User can choose topping and size
      and get a total order price.  Exercise in Javascript objects and jQuery.
      <a href="https://github.com/kbulloch/pizza_js">Github</a>
    </p> -->
    <p>
      <h4><a href="/SpacePirate">Space Pirate</a></h4>
      A web game about surviving in a damaged pirate ship in space.  This was
      built in under two class days as an exercise in AngularJS UI Routing.
      <a href="https://github.com/kbulloch/SpacePirate">Github</a>
    </p>
    <p>
      <h4><a href="/SignInApp">Sign In App</a></h4>
      An attendence sheet app for a small classroom.  Students can click to
      log in / log out, teachers can add and delete students.  This app was
      built as an assessment of my skills in AngularJS UI Routing for Epicodus.
      <a href="https://github.com/kbulloch/SignInApp">Github</a>
    </p>
    <!-- <p>
      <h4><a href="https://github.com/kbulloch/ShoeStores">Shoe Stores</a></h4>
      Web app that lists shoe stores and the brands they carry.  Exercise in
      many-to-many relationships in PostgreSQL and PHP.
      <a href="https://github.com/kbulloch/ShoeStores">Github</a>
    </p> -->
  </div>
</div>
