<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="../js/scripts.js"></script>
    <title>Portfolio</title>
  </head>
  <body>

    <nav class="navbar">
      <div class="container">
        <h3><a href="about.html">About</a> || <a href="work.html">Work</a> || <a href="contact.html">Contact</a></h3>
      </div>
    </nav>

    <div class="container">
      <h1 class="title">The Kyle Page</h1>

      <div class="row">
        <div class="img_crop">
          <img src="../img/snowboard_vista.jpg" alt="snowboard vista" id="snow_pic"/>
        </div>
        <div class="col-sm-8">
          <p>
            some biographical text here, try not to make it a snore fest
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6" id="school_left">
          <h3>Epicodus</h3>
          <p>
            I went to epicodus blah blah
          </p>
          <p>
            //image of epicodus logo i guess
          </p>
        </div>
        <div class="col-sm-6" id="school_right">
          <h3>Skillz Learned</h3>
          <p>
            I leared PHP, Javascript, Drupal blah blah
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <img src="../img/peep.png" alt="twit_bird" class="contact_icon"/>
        </div>
        <div class="col-sm-4">
          <img src="../img/peep.png" alt="twit_bird" class="contact_icon"/>
        </div>
        <div class="col-sm-4">
          <img src="../img/peep.png" alt="twit_bird" class="contact_icon"/>
        </div>

      </div>

    </div>

  </body>
</html>
