<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="../js/scripts.js"></script>
    <title>Kyle Bulloch</title>
  </head>
  <body>

    <nav class="navbar">
      <div class="container">
        <h3><a href="/about">About</a> || <a href="/work">Work</a> || <a href="/contact">Contact</a></h3>
      </div>
    </nav>

    <div class="container">
      <h1>The Kyle Page</h1>

      <div id="hover">
          <p>
              Hover here
          </p>
          <span id="hidden">Reveal</span>
      </div>

    </div>

  </body>
</html>
