<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/styles.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="../js/scripts.js"></script>
  <title>Portfolio: Work</title>
</head>
<body>

  <nav class="navbar">
    <div class="container">
      <h3><a href="about.html">About</a> || <a href="work.html">Work</a> || <a href="contact.html">Contact</a></h3>
    </div>
  </nav>

  <div class="container">
    <h1>This is the work page</h1>
    <p>
      Other projects that are worthwhile will be linked here
    </p>
  </div>

</body>
</html>
